/**
 * Shared styles.
 */
body {
	background-color: #efefef;
	/* Google Font */
	font-family: 'Lato', sans-serif;

	margin: 0;
}

/**
 * home.html (welcome page)
 */

#home {
	width: 30%;
	height: 100%;
	margin: 0 0 0 10%;
	padding: 2%;
	background-color: #bbb;

	border: solid black;
	border-width: 0 4px 0 4px;
}

#home h2 {
	font-size: 2em;
}

#home label {
	display: block;
}

#home input[type=text] {
	width: 80%;
	height: 50px;
	padding: 5px;
	margin-top: 5px;

	font-size: 1.5em;
	font-family: 'Lato', sans-serif;
}

#home button {
	width: 40%;
	height: 40px;
	font-family: 'Lato', sans-serif;
}

/**
 * game.html
 */
#grid {
	display: inline-block;
	margin: 1% 20% 1% 20%;
}

#scoreboard {
/*	visibility: hidden; */
	margin: 10px 20% 0 20%;
}

.gridCell {
	border: 1px solid black;
	display: inline-block;

	width: 60px;
	height: 60px;
	margin: 3px;
	padding: 0;
}

.present {
	background-color: white;
	border: 1px solid black;
}

.fallen {
	visibility: hidden;
	border: 1px solid #dedede;
}

.shake_bg {
	background-color: red;
}

.player {
	display: inline-block;
	height: 40px;
	width: 40px;

	border-radius: 20px;
	border: 1px solid black;

	position: relative;
}

.scoreboard_element {
	display: inline-block;
	margin: 0 10px 0 10px;
}

.scoreboard_color {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;

	border: 1px solid black;
}