body {
	background-color: #dedede;
}

#grid {
	display: inline-block;
	margin: 1% 20% 1% 20%;
}

#scoreboard {
/*	visibility: hidden; */
	margin: 0 20% 0 20%;
}

.gridCell {
	border: 1px solid black;
	display: inline-block;

	width: 60px;
	height: 60px;
	margin: 3px;
	padding: 0;
}

.present {
	background-color: white;
	border: 1px solid black;
}

.fallen {
	background-color: #dedede;
	border: 1px solid #dedede;
}

.shake {
	background-color: red;
}

.player {
	display: inline-block;
	height: 40px;
	width: 40px;

	border-radius: 20px;
	border: 1px solid black;

	position: relative;
}

.scoreboard_element {
	display: inline-block;
	margin: 0 10px 0 10px;
}

.scoreboard_color {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;

	border: 1px solid black;
}